.countdown .part {
  display: inline-block;
  margin: 0 10px;

  .label {
    padding: 0 0.5ex;
  }

  &[data-plural=true] {
    .label {
      padding: 0;
    }

    .label::after {
      content: "s";
    }
  }
}