#tweet-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  color: white;
  background-color: rgb( 98, 126, 70 );
  background-color: rgba( 98, 126, 70, 0.4 );

  font-size: 20px;

  &.dark {
    background-color: rgba( 98, 126, 70, 0.8 );
  }

  @media(max-width: 600px) {
    font-size: 14px;
  }

  .label {
    color: inherit;

    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  .tweet-container {
    position: relative;
    margin-left: 10px;
    flex-grow: 1;
    overflow: hidden;
  }

  .tweet {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;

    
  }
}