// Import the font, Titillium Web
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,200,200italic,400italic,700italic");

// Import partials for components
@import "countdown", "tweets", "sections";

body {
  margin: 0;

  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;

  background-color: #a4d275;
}

.main {
  position: relative;
  z-index: 10;
  padding-bottom: 65px;
  text-align: center;

  #section-back-button {
    position: absolute;
    left: 27px;
    top: 17px; // +10px from margin

    display: none;

    @media(max-width: 500px) {
      position: static;
    }
  }

  &.section-active {
    #big-countdown-wrapper {
      display: none;
    }

    #section-back-button {
      display: inline-block;
    }

    .button-container {
      display: none;
    }
  }
}

.canvas {
  position: fixed;
  left: 100%;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
}

.button {
  transition: transform 0.1s;

  cursor: pointer;
  
  margin: 10px;
  padding: 10px 20px;

  font-family: inherit;
  font-size: 20px;
  font-weight: inherit;

  background-color: white;
  background-color: rgba( 255, 255, 255, 0.7 );

  border: none;
  border-radius: 2px;
 
  box-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.6 );

  @media(max-width: 500px) {
    /*font-size: 16px;
    padding: 6px 12px;*/
  }
}

.button:hover,
.button:active {
  transform: scale( 1.1 );
}

.button:active {
  background-color: rgb( 200, 200, 200 );
  background-color: rgba( 200, 200, 200, 0.8 );
}

.button[disabled],
.button[disabled]:active {
  cursor: default;
  
  color: #333;
  background-color: #DDD;

  box-shadow: none;
}

.button[disabled]:hover,
.button[disabled]:active {
  transform: none;
}

.button.small {
  margin: 0;
  padding: 6px 12px;
}

.note,
.error {
  margin: 0;
  padding: 15px;

  font-size: 20px;
  line-height: 22px;
}

.note {
  background-color: #a4d275;
}

.error {
  background-color: #a93434;
}

label {
  display: block;

  margin-top: 10px;

  font-size: 20px;
  font-weight: 200;
}

.form-part {
  display: none;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

input[type="text"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-sizing: border-box;
  max-width: 500px;

  margin: 10px;
  padding: 10px;
  
  font-size: 20px;
  font-weight: 200;
  text-align: center;

  color: white;
  background-color: rgb( 98, 126, 70);

  border: none;
  border-radius: 5px;
}

input[type="text"] {
  transition-property: width, transform, box-shadow;
  transition-duration: 0.1s;
  
  &:hover {
    transform: scale( 1.05 )
  }

  &:focus {
    transform: scale( 1.1 );
    outline: none;
    box-shadow: 0 1px 2px black;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.6 );
  }
}

select::after {
  content: "▼";
}

:focus {
  outline: 2px solid #a4d275;
}

:focus:active {
  outline: none;
}