@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,400,300);

/* Root gold: http://www.color-hex.com/color/ffd700 */
/* Root red: http://www.color-hex.com/color/b22222 */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 300;
}

:focus {
  outline: none;
}

#header,
#footer {
  -webkit-transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  border-width: 0px;
  border-style: solid;
}

#header {
  top: 0;
  border-bottom-width: 1px;
}

#main {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin-top: 58px;
}

#footer {
  display: none;
  bottom: 0;
  text-align: center;
  border-top-width: 1px;
}

.thin #header {
  text-align: center;
}

.thin #main {
  /*padding-bottom: 42px;*/
}

.thin #footer {
  display: block;
}

.title {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  display: inline-block;
  margin: 10px 0 10px 20px;
}

#header #nav {
  position: absolute;
  right: 0;
  bottom: -1px;
  padding-right: 10px;
}

#footer #nav {
  position: relative;
  top: -1px;
}

.section-link {
  -webkit-transition-property: color, border-color;
  -webkit-transition-duration: 0.3s;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  padding: 6px 10px 10px;
  font-size: 20px;
  border-width: 0;
  border-style: solid;
}

#header .section-link {
  border-bottom-width: 1px;
}

#footer .section-link {
  border-top-width: 1px;
}

.section-link:hover {
  border-color: #b22222;
}

.section-link.active {
  cursor: default;
}

/* colors for the Home tab */

.home #header,
.home #footer {
  background-color: #fff3b2;
  border-color: #ffeb7f;
}

.home .title {
  color: #b22222;
}

.home .section-link {
  color: #b22222;
  border-color: #ffeb7f;
}

.home .section-link:hover {
  border-color: #b22222;
}

.home .section-link.active {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: black;
  border-color: black;
}

.home .section-link.active:hover {
  border-color: black;
}

/* colors for the Schedule tab */

.schedule #header,
.schedule #footer {
  background-color: #b22222;
  border-color: #7c1717;
}

.schedule .title {
  color: #ffeb7f;
}

.schedule .section-link {
  color: #ffeb7f;
  border-color: #7c1717;
}

.schedule .section-link:hover {
  border-color: #ffeb7f;
}

.schedule .section-link.active {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: white;
  border-color: white;
}

.schedule .section-link.active:hover {
  border-color: white;
}

/* colors for the Map tab  (#7DBF3B)  */

.map #header,
.map #footer {
  background-color: #a4d275;
  border-color: #324c17;
}

.map .title {
  color: #324c17;
}

.map .section-link {
  color: #324c17;
  border-color: #324c17;
}

.map .section-link:hover {
  border-color: #ffeb7f;
}

.map .section-link.active {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: white;
  border-color: white;
}

.map .section-link.active:hover {
  border-color: white;
}

.section {
  -webkit-transition-property: visibility, opacity;
  -webkit-transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.section.active {
  -webkit-transition-delay: 0.3s;
  visibility: visible;
  opacity: 1;
}

.home-section {
  /*height: 100%;*/
  overflow-y: hidden;
}

.media-container {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  padding: 5px;
}

.media-container + .media-container {
  float: right;
  padding-left: 0;
}

.thin .media-container + .media-container {
  padding-left: 5px;
  padding-top: 0;
}

.thin .media-container {
  width: 100%;
  height: 50%;
}

iframe#twitter-widget-0 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /*padding: 5px;*/
}

#schedule {
  margin: 0;
  padding: 10px;
}

.event {
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.3s;
  display: block;
  margin: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.event-title {
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  margin: 0;
  padding: 15px;
  font-size: 24px;
  font-weight: normal;
  background-color: #EEE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.thin .event-title {
  font-size: 20px;
  font-weight: 300;
}

.event-title::after {
  content: "";
  display: block;
  clear: both;
}

.event-time-box {
  float: right;
  margin-left: 5px;
}

.event-time {
  user-select: all;
  -webkit-user-select: all;
}

.event-body {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.event-location::before {
  content: "Location: ";
  font-weight: bold;
}

.event-loc-info {
  color: #999;
}

.event-loc-info::before {
  content: " (";
}

.event-loc-info::after {
  content: ")";
}

.event:hover {
  box-shadow: none;
}

.event:hover .event-title {
  color: white;
  background-color: #3e5f1d;
}

.event:hover .event-body {
  background-color: #fff3b2;
}