/* Import the font, Titillium Web */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,200,200italic,400italic,700italic");

.main {
  font-family: 'Titillium Web', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
}

a {
  color: rgb(98, 126, 70);
  text-decoration: none;
}

a:hover {
  color: black;
}

p {
  margin: 0;
  padding: 10px;
  background-color: #a4d275;
}

.big {
  padding: 20px 10px;
  font-size: 26px;
  text-align: center;
  color: white;
  background-color: rgb(98, 126, 70);
}